* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logout-btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px 28px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.logout-btn:hover {

}


button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style: none;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav_link {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}