* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logout-btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px 28px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.logout-btn:hover {

}


button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style: none;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav_link {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.term_choice {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}

.term_choice button {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: #b3b3b3;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
}

.term_choice button span {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

.term_choice button span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease;
}


.term_choice button.active {
    color: #ffffff;
    font-weight: 700;
}
.term_choice button.active span::after {
    transform: scaleX(1);
}

.term_choice button:hover {
    color: #ffffff;
}
.term_choice button:hover span::after {
    transform: scaleX(1);
}

.term_choice button:focus-visible span::after {
    transform: scaleX(1);
}

@media (max-width: 425px) {
    .item_card img {
        max-height: 120px;
        max-width: 120px;
    }

    .item_card {
        max-width: 120px;
    }

    .top_tracks ul, .top_artists ul {
        gap: 30px;
    }
}
